@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');


* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--primary-color: #ff7613;
	--text-color: #9e938f;
    --code-color: #d7dfdc;
}

body {
	font-family: Inter, sans-serif;
	background-color: black;
	color: white;
}

.profile_container {
	display: flex;
	gap: 2rem;
    margin: 5%;
}

.profile_profileImg {
    display: flex;
    justify-content: center;
}

.profile_profileImg img{
vertical-align: middle;
    width: 80%;
    max-width: 300px;
    height: auto;
    border-radius: 50%;
    margin: auto;
    display: block;
}

.profile_name_firstName {
	color: var(--text-color);
	font-weight: 200;
	font-size: 2em;
	text-transform: uppercase;
	display: block;
	margin-bottom: -0.8rem;
}
.profile_name_lastName {
	color: var(--primary-color);
	font-weight: 700;
	font-size: 2.5em;
	text-transform: uppercase;
	display: block;
}
.profile_profession {
	font-size: 1.5em;
	font-weight: 400;
	text-transform: uppercase;
}

.standart_section {
    margin: 5%;
}
.standart_section h2{
    color: var(--primary-color);

}
.standart_section ul{
    display: flex;
    justify-content: center;

    display: inline-block;
    font-size: smaller;
    padding-right: 1.5em;
}
.standart_section li{
 margin-top: 0.75em;
}
.education_period {
    color: var(--text-color);
    display: inline;
    font-size: smaller;
    font-style: italic;
    padding-right: 1em;
}

.profile_container {
	display: flex;
	gap: 2rem;
    margin: 5%;
}

.main_container {
    display: flex;
    gap: 2rem;
    margin: 5%;
}

.container_left_side {
    width: auto;
    display: block;
    justify-content: center;


}
.container_right_side {
    display: inline-block;
    width: min-content;
}
code { 
    width: min-content;
}